extends ../layout
block content 
    .flex.justify-between.items-center.content-center.mb-2.mx-4
      h1.text-2xl.text-bold.pt-5.mx-4 List Review
      nav.flex.justify-end.mr-5(aria-label='Breadcrumb')
        ol.inline-flex.items-center.space-x-1(class='md:space-x-3')
          li.inline-flex.items-center
            a.inline-flex.items-center.text-sm.font-medium.text-black(href='/' class='hover:text-blue-600')
              i.fa-solid.fa-house
              span.ml-1 Home
          li.inline-flex.items-center
            a.inline-flex.items-center.text-sm.font-medium.text-black
              i.fa-solid.fa-chevron-right
              span.ml-1.text-sm.font-medium.text-gray-400(class='md:ml-2 dark:text-gray-400') Reviews
    .overflow-x-auto.mt-4.mx-2
        .inline-block.min-w-full.shadow.rounded-lg.overflow-hidden
          table.min-w-full.leading-normal.table
            thead
              tr
                th.table-header ID
                th.table-header User
                th.table-header Directory
                th.table-header Status
                th.table-header Action
            tbody
              if reviews.results.length > 0
                each review in reviews.results
                  tr
                    td.table-item
                      p.text-gray-900.whitespace-no-wrap=review.id
                    td.table-item
                      a(href=`/users/${review.user.id}`).text-gray-900.whitespace-no-wrap.text-blue-700.underline=review.user.name
                    td.table-item
                      a(href=`/properties/${review.property.id}`).text-gray-900.whitespace-no-wrap.text-blue-700.underline=review.property.name
                    td.table-item
                      p.text-gray-900.whitespace-no-wrap.capitalize=review.status
                    td.table-item
                      a.px-3.py-2.text-white.bg-yellow-600.rounded-lg.text-center(href=`/reviews/${review.id}` title="view")
                        span
                          i.fa-solid.fa-eye
              else
                tr
                  td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm.text-center.font-bold(colspan=4) No result
          .px-5.py-5.bg-white.border-t.flex.flex-col.items-center(class='xs:flex-row xs:justify-between')
              if pagination.totalPage > 1
                nav
                  ul.pagination
                    li.page-item.prev
                      a.link(href=`?${pagingUrl(filterParams, pagination.previous)}`) Previous
                    each page in pagination.pages
                      li.page-item
                        a( class=`${pagination.currentPage == page ? 'active' : ''}` href=`?${pagingUrl(filterParams, page + 1)}`)= page + 1
                    li.page-item.next
                      a(href=`?${pagingUrl(filterParams, pagination.next)}`) Next
