extends ../layout
block content
  .flex.justify-between.items-center.content-center.m-4
    h1.text-2xl.text-bold New Features
    nav.flex.justify-end(aria-label='Breadcrumb')
      ol.inline-flex.items-center.space-x-1(class='md:space-x-3')
        li.inline-flex.items-center
          a.inline-flex.items-center.text-sm.font-medium.text-black(href='/' class='hover:text-blue-600')
            i.fa-solid.fa-house
            span.ml-1 Home
        li.inline-flex.items-center
          a.inline-flex.items-center.text-sm.font-medium.text-black(href='/banners' class='hover:text-blue-600')
            i.fa-solid.fa-chevron-right
            span.ml-1.text-sm.font-medium(class='md:ml-2') Features
        li
          .flex.items-center
            i.fa-solid.fa-chevron-right
            span.ml-1.text-sm.font-medium.text-gray-400(class='md:ml-2 dark:text-gray-400') New
  -var action_req = `${action}?_csrf=${csrfToken}`
    form(action=action_req method="POST")
        input(type='hidden', name="_csrf", value=csrfToken)
        .mt-4
          div(class="w-6/12 mx-auto")
            .mt-4.containerOuter
              label Properties
                span.ml-1.text-red-500 *
              select(multiple name="feature[property_ids]" id="js-choice")
                option(value='') Choose property
                each property in properties
                  option(selected=(property.id==form.property_id), value=property.id)=property.name
            .mt-5.text-right.mt-2
              button(class='px-6 py-2 text-white bg-blue-800 rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700' type="submit") Save
              a(class='px-6 py-3 ml-3 text-white bg-gray-800 rounded-md hover:bg-gray-700 focus:outline-none focus:bg-gray-700' href=`/features/${form.feature_id}`) Cancel